:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1460px;
  margin: 0 auto;
  height: auto;
}
main {
  padding: 0 !important;
  margin: 0 6%;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}
button {
  display: block;
  background: #fe142f;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: 0;
  color: #fff;
}
footer {
  padding: 0 2.5%;
}

/* ------------------------------ */

/* FOOTER */
.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 60px;
  font-weight: bolder;
}

@media screen and (max-width: 1279px) {
  .copyrights {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .copyrights {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .copyrights {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
  }
}
@media screen and (max-width: 479px) {
  .copyrights {
    font-size: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 319px) {
  .copyrights {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
